@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto';
    font-size: 18px;
    text-decoration: none;
}

.navBar{
    display: flex;
    align-items: center ;
    padding: 32px 0;
    justify-content: space-between;     

 
}

.navBar nav ul{     
    width: 23.9rem;
    display: flex;
    align-items: center;
    list-style: none;
}
.navBar nav ul li{
    display: inline-block;
    margin-right: 20px;
}

.navBar nav ul li a, 
p {
    color: rgb(63, 63, 63);;
}

.container {
    max-width: 1300px;
    margin: 0px auto;
    padding: 0px 40px; 
}
hr{
    color: rgba(209, 209, 209, 0.343);

    
}
.row{
    margin-top: 64px;
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
}

.row .col2{
    flex-basis: 50%;
    min-width: 300px;
}

.row .col2 img{
    max-width: 100%;
    padding: 50px 0 ;
}

.row .col2 h1{
    font-size:3.2rem;
    /* margin-bottom: ; */
}

.row .col2 .btn{
    font-size: 18px;
    font-weight: 600;
    border: 1px solid rgb(19, 19, 19);
    color: rgb(26, 26, 26);
    background: #ffffff;
    display: inline-block;
    padding: 15px 20px;
}

.row .col2 .btn:hover{
    transition-duration: 0.4s ;
    transition-delay: 0.09s;
    
    color: #e2e2e2;
    background-color: rgba(24, 24, 24, 0.904);
    letter-spacing: 0.14px;
}
.row .col2 .btn:not(:hover){
    transition: 0.4s;
    color: white;
    background-color: rgba(10, 10, 10, 0.849);
    
}

.header{
    background-image: linear-gradient(to top right,  rgb(109, 109, 109), rgb(240, 240, 240));
}
.categories{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 0; 
}

.categories .col3{
    height: 18rem;
    width: 14rem;
    margin: 20px;
    object-fit: cover;
}
.categories .col3 img{
    height: 100%;
    width: 100%;
}

.categories .row .content{
    height: 28rem;
    margin: 20px 14px;  
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 30px #b5b5b529;
    z-index: 333;
}
.categories{
    padding:40px;
}
.categories .content .btn{
    padding-top: 12px;
    text-align: center;
    border: 1px solid rgb(31, 31, 31);
    height: 48px;
    width: 250px;
    margin: 0 auto;
    margin-bottom: 18px;   
}
.categories .content .btn:hover{
    transition: all 0.4s;
}
.categories .content .btn:not(:hover){
    transition: all 0.4s ;
}
.categories .content .cartBtn{
    background-color: rgb(31, 31, 31);
    color: white;
}
.categories .content .cartBtn:hover{
    color: rgba(240, 240, 240, 0.912);
    background: rgb(34, 34, 34);
    border: 1px solid white;
}

.categories .content .favBtn{
    background: rgb(242, 242, 242);
    border: none;
    color: rgba(36, 36, 36, 0.946);
}
.categories .content .favBtn:hover{
    background: rgb(230, 230, 230);
}

.categories .container2{
    max-width: 1300px;
}
.categories .container2 hr{
    color: rgba(209, 209, 209, 0.343);
    max-width: 1222px;
    margin: 0 auto;
}
.categories .container2 h1{
    font-size: 2.8rem;
    margin: 0 0 0.8rem 1.8rem;
}




